*.log

# Outputted CSV files for testing 
outputCSV

getExecutionOrder copy.py

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

jquery-3.6.1.js

# Generated HTML pages by Python script
html_pages/webpages/plan_pages/*.html

outputCSV/
XMLs/
venv/
csv/
.vscode/
.idea/
.vs/

.prettierignore