*.log

images/

outputCSV

extractLarge.py

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

jquery-3.6.1.js

venv/

DataTables_Website/webpages/*.html
DataTables_Website/webpages/plan_pages/*.html

HTML_Pages/
outputCSV/
XMLs/